body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    color: green;
    background-color: white;
    font-size: 50px;

}
h3{
    color: green;
    background-color: white;
    font-size: 20px;
}
p{
    color: black;
    background-color: white;
    font-size: 15px;

}

.Name{
    color: blue;
}
.Half{
    width: 40%;
    float: left;
    
   
    margin-left:5%;
    padding: 2%;
}
.Half img{
    width: 30%;
    padding: 10%;
    


}
.top-banner{
    border: 1px solid red;
    background-image: url(image/OIP.jpg);
}
section{
    height: 450px;
}
.button{

    color:white;
    background-image: linear-gradient(45deg,blue, black);
  
   text-decoration: none;
   padding: 10px 20px;
   border-radius: 5px;
   font-weight: 700;



}