body{
    font-family: 'Poppins', sans-serif;
}
h1{
    color: green;
    font-size: 50px;
}
.Name{
    color: blue;
}
.Half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.Half img{
    width: 100%;


}